<a href="https://colab.research.google.com/github/orlaneg1/cs-python/blob/main/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
text = "Hello from London"
names = ["Alex","Kate","Tim","Mary"]
cities = ["Paris","London","London","Paris"]
print(names[0])
print(cities[0])

Alex
Paris

In [5]:
data = [] # empty
data.append(100)
data.append(200)
data.append(300)
print(data)

[100, 200, 300]

In [7]:
names = ["Alex","Kate","Tim","Mary"]
print(names)
# Add Nick to the list
names.append("Nick")
print(names)
names.pop(2)
print(names)

['Alex', 'Kate', 'Tim', 'Mary']
['Alex', 'Kate', 'Tim', 'Mary', 'Nick']
['Alex', 'Kate', 'Mary', 'Nick']

In [9]:
data = []

data.append(10)
data.append(30)
data.append(40)
data.pop(1)
data.append(50)
data.pop(0)

print(data)

[40, 50]

In [11]:
data = [10,30,40,50]
data.insert(1,20)
data.insert(4,45)
print(data)

[10, 20, 30, 40, 45, 50]

In [14]:
data = [10,20,20,30,30,40,50]
data.remove(20)
print(data)
print(len(data))
print(max(data))
print(min(data))
print("AVG:",sum(data)/len(data))

[10, 20, 30, 30, 40, 50]
6
50
10
AVG: 30.0

In [15]:
alist = ["Tom","Tim","Tim"]
alist.count("Tim")

2

In [16]:
num1 = int(input("Enter a number:"))
num2 = int(input("Enter a number:"))
num3 = int(input("Enter a number:"))
data = []
data.append(num1)
data.append(num2)
data.append(num3)
data.remove(300)
data.append(400)
data.insert(0,50)

Enter a number:100
Enter a number:200
Enter a number:300

In [18]:
data.pop(2)
print(data)
print(sum(data)/len(data))

[50, 100]

In [19]:
text = input("Enter a text:")
letter = input("Enter a letter to count:")
print(text.count(letter))

Enter a text:aaaaaaa
Enter a letter to count:a
7

In [22]:
text = input("Enter a text:")
if text[-1]=="." or text[-1]=="!":
    print("correct")
else:
    print("error")

Enter a text:uyfgiuoi iuhgi
error